input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
*{
  white-space: pre-wrap;
}

@mixin responsive {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 501px) {
    @content;
  }
}

mat-sidenav-container{
  margin: 0 0 15px;
}

mat-panel-title h3,h4{
  margin-bottom:0;
}

.mat-expansion-panel:not([class*='mat-elevation-z']){
  box-shadow:0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 2px rgba(0, 0, 0, 0.12);
}

button{
  outline:none;
}
.submit-btn{
  border:1px solid rgba(0, 0, 0, 0.12);
}

.mat-card{
  background:inherit;
}
.mat-drawer-content{
  overflow: hidden;
}
.mat-form-field{
  width:100%;
  vertical-align: middle;
}
.mat-form-field.donvi{
  width:100px;
}
small{
  color:#6c757d;
  position: absolute;
  bottom: 0px;
  left:0;
}
.mat-radio-group{
  padding: 0 15px;
}

.mat-radio-button ~ .mat-radio-button{
  padding-left:10px;
}
.my-suffix {
  margin-left: 16px;
  vertical-align: bottom;
}
.my-suffix-edit{
  vertical-align: -3px;
  cursor: pointer;
  padding:2px;
}
.luongSuffix{
  cursor:pointer;
  vertical-align: 4px;
  margin-left:10px;
}
.mat-raised-button + .mat-raised-button{
  margin-left: 15px;
}

#showCurrencyjq{
  display:none;
}
#showHuongDanVungjq{
  display:none;
}


// SUBMIT BUTTON 
.btn-lg{
  padding: 0.6rem 1.75rem;
  @include responsive{
    width:100%;
    padding: 0.6rem 0;
    font-size:100%;
  }
}
.span-disabled-matTooltip{
  display:inline-block;
  @include responsive{
    display: block;
  }
}
.pl-0-mobile{
  @include mobile{
    padding-left:0;
  }
}
.btn-outline-dark{
  color:#52575D;
  border-color:#52575D;
}
.btn-outline-dark:hover{
  color:#fff;
  background-color:#52575D;
}

// TABLE 
.table{
  table-layout: fixed;
}
.table-expansion-2{
  margin:0;
  tr{
    th{
      border-top:none;
    }
    label{
      display: none;
    }
  }
  @include responsive{
    tr{
      th,td{
        padding-left:0;
        padding-right:0;
      }
      th:nth-child(2),td:nth-child(2){
        padding-left:15px;
      }
    }
    tr:last-child{
      td:nth-child(2){
        padding-left:0;
      }
    }
  }
}
.table-expansion-3{
  margin:0;
  tr{
    th{
      border-top:none;
    }
  }
}
.table-expansion{
  margin:0;
  tr{
    th{
      border-top:none;
    }
    label{
      display: none;
    }
  }
  @include responsive{
    thead{
      display:none;
    }
    tr{
      display: block;
      td{
        padding-left:0;
        padding-right:0;
        display: block;
        text-align: right;
      }
      label{
        display:block;
        float: left;
      }
    }
  }
}

//EDIT THUE
.editThue h5{
  text-align: center;
  
}

//Inflation
.netYear{
  text-align: center;
  padding: 0 0 25px;
}
.inflation-div{
  table{
    margin:0;
  }
  h5{
    text-align: center;
    padding: 0 15px;
    &.jp{
      padding: 0;
    }
  }
  @include responsive{
    h5{
      font-size:0.9rem;
      padding: 25px 0 10px;
      font-weight: bold;
      &.jp{
        padding: 25px 0 10px;
      }
    }
    .no-p{
      padding: 0 0;
    }
  }
}

.container{
  max-width:1000px;
}
.top-content{
  text-align: center;
  color:#52575D;
  margin: 130px 0 40px;
  h1{
    font-size:4.5rem;
    font-family: 'Noto Sans SC';
    font-weight: bold;
    outline: none;
  }
  p{
    font-size: 1.1rem;
  }
  @include responsive{
    h1{
      font-size:3rem;
      &.jp{
        font-size:2.5rem;
      }
    }
    p{
      font-size:0.9rem;
      &.jp{
        font-size:1rem;
      }
    }
  }
}
.mat-sidenav{
  width:280px;
}
.breakLineTd{
  white-space: pre-line;
}
.width100{
  width:100%;
}
.width100 tr:last-child td{
  border-bottom:none;
}
.width100 td:first-child{
  border-top:none;
  border-left:none;
}
.width100 td:last-child{
  border-top:none;
  border-right:none;
}
.td-border-none{
  border:none;
}
.vung-click{
  min-width: 65px;
  padding:0;
  vertical-align: middle;
  text-align: center;
}
.vung-click button{
  min-width: 40px;
  padding:0;
  font-family: "Times New Roman" !important;
}

.disabledSpan{
  color:rgba(0,0,0,.38);
}

.lastTd{
  font-size:14px;
  text-align: right;
  color:rgba(0,0,0,.54);
}
.lastTd br{
  display:none;
}
.lastTd div{
  display:inline-block;
}
.lastTd .mat-form-field{
  width:40px;
  display: inline-block;
  vertical-align: baseline;
  margin:0 0 0 8px;
}
.lastTd .padding-x{
  padding: 0 15px;
}
.lastTd i{
  font-size:32px;
  vertical-align: middle;
}
@media (max-width:500px){
  .lastTd br{
    display:block;
  }
}
/* .custom-slide-toggle{
  padding:15px 10px 15px 10px;
  margin:20px 0 15px;
  border: 2px solid rgba(0,0,0,.2);
  border-radius:4px;
} */
