<mat-sidenav-container class="salary-theme">
  <mat-sidenav-content>
    <app-nav></app-nav>
    <div class="container">
      <!-- Title-->
      <div class="top-content">
        <h1 id="h1" class="{{ 'Salary.class-jp' | translate }}">{{ 'Salary.H1' | translate }}</h1>
        <p>{{ 'Salary.H1-description' | translate }}</p>
      </div>
      <!-- /Title-->
      <!-- Form-->
      <form #grossNetForm="ngForm">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'Salary.inputSalary' | translate }}</mat-label>
              <input matInput [(ngModel)]="luong" name="luong" type="text" inputmode="numeric" [cleave]="cleaveOptions"
                required/>
              <span matSuffix class="luongSuffix" matTooltip="{{ 'Salary.ExchangeRate-t' | translate }}"
                (click)="showCurrencyjq()">{{currencyType}}<i class="material-icons"
                  style="font-size:16px;vertical-align: -2px;">loop</i></span>
              <mat-error *ngIf="grossNetForm.controls.luong?.invalid">{{ 'Salary.inputSalary-error' | translate }}</mat-error>
            </mat-form-field>
            <div id="showCurrencyjq">
              <div class="d-flex justify-content-between">
                <mat-radio-group class="text-center" [(ngModel)]="currencyType" name="currencyType">
                  <mat-radio-button (change)="toggleUSD()" value="VND">
                    VND
                  </mat-radio-button>
                  <mat-radio-button (change)="toggleUSD()" value="USD">
                    USD
                  </mat-radio-button>
                </mat-radio-group>
                <i class="material-icons" (click)="showCurrencyjq()" style="cursor: pointer;"
                  matSuffix>expand_less</i>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'Salary.ExchangeRate' | translate }}</mat-label>
                <input matInput [(ngModel)]="conversionRate" name="conversionRate" type="text"
                  [disabled]="disabledUSD" inputmode="numeric" [cleave]="cleaveOptions"/>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div style="position:relative;" >
              <mat-form-field class="hintLuongBaoHiem" appearance="outline" hintLabel="{{ 'Salary.InsuranceHint' | translate }}">
                <i matSuffix matTooltip="{{ 'Salary.InsuranceTooltip' | translate }}"  matTooltipClass="breaklineTooltip"
                  class="material-icons">help_outline</i>
                <mat-label>{{ 'Salary.InsuranceWage' | translate }}</mat-label>
                <input matInput [(ngModel)]="luongBH" name="luongBH" type="text" inputmode="numeric" class=""
                  [cleave]="cleaveOptions" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row py-2">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'Salary.Region' | translate }}</mat-label>
              <i class="material-icons" matSuffix matTooltip="{{ 'Salary.RegionSearch-icon' | translate }}" style="cursor: pointer;"
                (click)="showHuongDanVungjq();" [ngx-scroll-to]="'showHuongDanVungjq'" [ngx-scroll-to-duration]="600">
                search</i>
              <input matInput [(ngModel)]="vungLuong" name="vungLuong" pattern="[1-4]" type="number" inputmode="numeric"
                class="" required/>
              <mat-error *ngIf="grossNetForm.controls.vungLuong?.invalid">{{ 'Salary.Region-error' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <div style="position:relative;">
              <mat-form-field appearance="outline">
                <i matSuffix matTooltip="{{ 'Salary.DependantTooltip' | translate }}" matTooltipClass="breaklineTooltip"
                  class="material-icons">help_outline</i>
                <mat-label>{{ 'Salary.Dependant' | translate }}</mat-label>
                <input matInput [(ngModel)]="inputPhuThuoc" name="inputPhuThuoc" type="text" inputmode="numeric" class=""
                  [cleave]="cleaveOptions" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row" id="showHuongDanVungjq">
          <div class="col">
            <h3 class="text-center pt-4 pb-2">{{ 'Salary.RegionSearch-h3' | translate }}</h3>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'Salary.RegionSearch-input' | translate }}</mat-label>
              <input matInput #vungKeyWord [(ngModel)]="filterKeyWord" [matAutocomplete]="auto"
                name="filterKeyWord" type="text" />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let vung of filteredThongTinVung" [value]="vung.TinhThanhPho">
                  <span>{{vung.TinhThanhPho}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <table class="table table-bordered text-center">
              <tr>
                <thead style="width:100%;">
                  <tr>
                    <th style="width:13%"></th>
                    <th style="width:86%">{{ 'Salary.province' | translate }}</th>
                    <th style="min-width: 65px; padding-left: 0; padding-right:0;">{{ 'Salary.Region' | translate }}</th>
                  </tr>
                </thead>
                <tbody style="width:100%;">
                  <tr *ngFor="let vung of filteredThongTinVung| slice:showSoVungMin:showSoVungMax; let i=index">
                    <th class="align-middle">{{vung.TinhThanhPho}}</th>
                    <td colspan="2" style="padding:0;">
                      <table style="border:none;" class="width100">
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.I">
                          <td style="width:99%;">{{vung.Vung.I}}</td>
                          <td style="min-width: 65px" class="vung-click">
                            <button mat-raised-button type="button" (click)="vung1()" [ngx-scroll-to]="'h1'">I</button>
                          </td>
                        </tr>
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.II">
                          <td>{{vung.Vung.II}}</td>
                          <td style="width:8%;" class="vung-click">
                            <button mat-raised-button type="button" (click)="vung2()" [ngx-scroll-to]="'h1'">II</button>
                          </td>
                        </tr>
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.III">
                          <td>{{vung.Vung.III}}</td>
                          <td style="width:8%;" class="vung-click">
                            <button mat-raised-button type="button" (click)="vung3()" [ngx-scroll-to]="'h1'">III</button>
                          </td>
                        </tr>
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.IV">
                          <td>{{vung.Vung.IV}}</td>
                          <td style="width:8%;" class="vung-click">
                            <button mat-raised-button type="button" (click)="vung4()" [ngx-scroll-to]="'h1'">IV</button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="lastTd">
                      <div class="">{{ 'Salary.itemperpage' | translate }}</div>
                      <mat-form-field>
                        <mat-select [(ngModel)]="showSoVung" name="showSoVung" (selectionChange)="showSoVungChange()">
                          <mat-option  [value]=5>5</mat-option>
                          <mat-option  [value]=10>10</mat-option>
                          <mat-option  [value]=25>25</mat-option>
                          <mat-option  [value]=50>50</mat-option>
                          <mat-option  [value]=63>63</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <br>
                      <div class="padding-x">{{showSoVungMin+1}} - {{showSoVungMax}} {{ 'Salary.of' | translate }} {{filteredThongTinVung.length}}</div>
                      <button mat-raised-button [disabled]="!checkSoVungMin()" matTooltip="{{ 'Salary.prev' | translate }}" (click)="showPreviousSoVung()"><i class="material-icons">chevron_left</i></button>
                      <button mat-raised-button [disabled]="!checkSoVungMax()" matTooltip="{{ 'Salary.next' | translate }}" (click)="showNextSoVung()"><i class="material-icons">chevron_right</i></button>
                    </td>
                  </tr>
                </tbody>
              </tr>
            </table>
          </div>
        </div>
        <div class="row pt-4 pb-4">
          <div class="text-right col">
            <span class="span-disabled-matTooltip" matTooltip="{{ 'Salary.submitBtn-d-t' | translate }}" [matTooltipDisabled]="grossNetForm.controls.luong?.valid && grossNetForm.controls.vungLuong?.valid">
              <button class="btn btn-outline-dark btn-lg" [disabled]="!grossNetForm.controls.luong?.valid || !grossNetForm.controls.vungLuong?.valid " 
                (click)="grosstonet()" [ngx-scroll-to]="'#destination'" matTooltip="{{ 'Salary.grossnetBtn-t' | translate }}" type="button">
                {{ 'Salary.grossnetBtn' | translate }}
              </button>
            </span>
          </div>
          <div class="text-left pl-0-mobile col">
            <span class="span-disabled-matTooltip" matTooltip="{{ 'Salary.submitBtn-d-t' | translate }}" [matTooltipDisabled]="grossNetForm.controls.luong?.valid && grossNetForm.controls.vungLuong?.valid">
              <button class="btn btn-outline-dark btn-lg" [disabled]="!grossNetForm.controls.luong?.valid || !grossNetForm.controls.vungLuong?.valid" 
                (click)="nettogross()" [ngx-scroll-to]="'#destination'" matTooltip="{{ 'Salary.netgrossBtn-t' | translate }}" type="button">
                {{ 'Salary.netgrossBtn' | translate }}
              </button>
            </span>
          </div>
        </div>
      </form>
      <!-- /Form-->
      <!-- Result-->
      <div id="destination" *ngIf="submited" class="row pt-4">
        <div class="col">
          <mat-expansion-panel disabled [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size:1rem;">
                <h3>{{'Salary.result' | translate }} <i class="material-icons my-suffix-edit" (click)="sidenav.toggle();ScrollToSideNav()" matTooltip="{{'Salary.editTax' | translate }}"
                  matTooltipPosition="right">edit</i></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table table-expansion">
              <thead>
                <tr>
                  <th scope="col" *ngIf="GrossNetBoolean">{{'Salary.Gross' | translate }}</th>
                  <th scope="col" *ngIf="!GrossNetBoolean">{{'Salary.Net' | translate }}</th>
                  <th scope="col">{{'Salary.Insurance-r' | translate }}</th>
                  <th scope="col">{{'Salary.PIT-r' | translate }}</th>
                  <th scope="col" *ngIf="GrossNetBoolean">{{'Salary.Net' | translate }}</th>
                  <th scope="col" *ngIf="!GrossNetBoolean">{{'Salary.Gross' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label *ngIf="GrossNetBoolean">{{'Salary.Gross' | translate }}</label>
                    <label *ngIf="!GrossNetBoolean">{{'Salary.Net' | translate }}</label>
                    {{LuongNhap | number:'1.0-0'}}</td>
                  <td><label>{{'Salary.Insurance-r' | translate }}</label>{{TongBH | number:'1.0-0'}}</td>
                  <td><label>{{'Salary.PIT-r' | translate }}</label>{{TongTNCN | number:'1.0-0'}}</td>
                  <td><label *ngIf="GrossNetBoolean">{{'Salary.Net' | translate }}</label>
                    <label *ngIf="!GrossNetBoolean">{{'Salary.Gross' | translate }}</label>
                    {{LuongKetQua | number:'1.0-0'}}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
      </div>
      <!-- /Result-->
      <!-- Insurance & PIT-->
      <div *ngIf="submited" class="row mt-4 mb-4">
        <div class="col">
          <mat-accordion multi="true">
            <mat-expansion-panel disabled [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>{{'Salary.Insurance-detail' | translate }}<i class="material-icons my-suffix-edit" (click)="sidenav.toggle();ScrollToSideNav()" matTooltip="{{'Salary.editTax' | translate }}"
                    matTooltipPosition="right">edit</i></h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="table table-expansion">
                <thead>
                  <tr>
                    <th scope="col">{{'Salary.Social' | translate }} ({{thueBHXH}}%)</th>
                    <th scope="col">{{'Salary.Health' | translate }} ({{thueBHYT}}%)</th>
                    <th scope="col">{{'Salary.Unemployment' | translate }} ({{thueBHTN}}%)</th>
                    <th scope="col">{{'Salary.Total-I' | translate }} ({{ thueBHXH + thueBHYT + thueBHTN}}%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label>{{'Salary.Social' | translate }} ({{thueBHXH}}%)</label>{{TienBHXH | number:'1.0-0'}}</td>
                    <td><label>{{'Salary.Health' | translate }} ({{thueBHYT}}%)</label>{{TienBHYT | number:'1.0-0'}}</td>
                    <td><label>{{'Salary.Unemployment' | translate }} ({{thueBHTN}}%)</label>{{TienBHTN | number:'1.0-0'}}</td>
                    <td><label>{{'Salary.Total-I' | translate }} ({{ thueBHXH + thueBHYT + thueBHTN}}%)</label>{{TongBH | number:'1.0-0'}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
            <mat-expansion-panel disabled [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>{{'Salary.PIT-detail' | translate }} <i class="material-icons my-suffix-edit" (click)="sidenav.toggle();ScrollToSideNav()" matTooltip="Chỉnh Sửa Thuế"
                    matTooltipPosition="right">edit</i></h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="table table-expansion">
                <thead>
                  <tr>
                    <th>{{'Salary.PreTaxIncome' | translate }}</th>
                    <th>{{'Salary.personalDeductible' | translate }}</th>
                    <th>{{'Salary.dependentDeductible' | translate }}</th>
                    <th>{{'Salary.TaxableIncome' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label>{{'Salary.PreTaxIncome' | translate }}</label>{{ThuNhapChiuThue | number:'1.0-0'}}</td>
                    <td><label>{{'Salary.personalDeductible' | translate }}</label>{{TienGiamTruBanThan | number:'1.0-0'}}</td>
                    <td><label>{{'Salary.dependentDeductible' | translate }}</label>{{TienGiamTruNguoiPhuThuoc | number:'1.0-0'}}</td>
                    <td><label>{{'Salary.TaxableIncome' | translate }}</label>{{ThuNhapTinhThue | number:'1.0-0'}}</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <table class="table table-expansion-2">
                <tr>
                  <th scope="col">{{'Salary.TaxableIncome' | translate }}</th>
                  <th scope="col">{{'Salary.Tax' | translate }}</th>
                  <th scope="col">{{'Salary.Amount' | translate }}</th>
                </tr>
                <tr>
                  <td scope="row">{{'Salary.to5' | translate }}</td>
                  <td>{{to5}}%</td>
                  <td>{{Tiento5 | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td scope="row">{{'Salary.from5to10' | translate }}</td>
                  <td>{{from5to10}}%</td>
                  <td>{{TienFrom5to10 | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td scope="row">{{'Salary.from10to18' | translate }}</td>
                  <td>{{from10to18}}%</td>
                  <td>{{TienFrom10to18 | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td scope="row">{{'Salary.from18to32' | translate }}</td>
                  <td>{{from18to32}}%</td>
                  <td>{{TienFrom18to32 | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td scope="row">{{'Salary.from32to52' | translate }}</td>
                  <td>{{from32to52}}%</td>
                  <td>{{TienFrom32to52 | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td scope="row">{{'Salary.from52to80' | translate }}</td>
                  <td>{{from52to80}}%</td>
                  <td>{{TienFrom52to80 | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td scope="row">{{'Salary.from80' | translate }}</td>
                  <td>{{from80}}%</td>
                  <td>{{TienFrom80 | number:'1.0-0'}}</td>
                </tr>
                <tr>
                  <td colspan="2">{{'Salary.PIT-total' | translate }}</td>
                  <td class="text-left">{{TongTNCN | number:'1.0-0'}}</td>
                </tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <!-- /Insurance & PIT-->
      <!-- Inflation-->
      <mat-expansion-panel *ngIf="submited" disabled [expanded]="true" class="mb-4">
        <mat-expansion-panel-header>
          <h4 class="text-center">{{'Salary.InflationAssumptions' | translate }}</h4> 
        </mat-expansion-panel-header>
        <br>
        <div>
          <h5 class="netYear">{{'Salary.annualNetIncome' | translate }} <span>{{AnnualSalary | number:'1.0-0'}} VND</span></h5>
          <mat-form-field appearance="outline">
            <mat-label>{{'Salary.annualInflationRate' | translate }}</mat-label>
            <input matInput [(ngModel)]="Inflation" name="Inflation" type="number"
              inputmode="numeric"/>
          </mat-form-field>
        </div>
        <div class="inflation-div row">
          <div class="col-md-8 col no-p">
            <h5>{{'Salary.InflationAdjustedAnnualIncome' | translate }}</h5>
            <div id="LineChart">
              <fusioncharts
                [width]="lwidth"
                [height]="lheight"
                [type]="ltype"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource"
              >
              </fusioncharts>
            </div>
          </div>
          <div class="col-md-4 no-p">
            <h5 class="{{ 'Salary.class-jp' | translate }}">{{'Salary.NetKeepUp' | translate }}</h5>
            <table class="table table-expansion-3">
              <thead>
                <tr>
                  <th>{{'Salary.Year' | translate }}</th>
                  <th>{{'Salary.Net' | translate }}</th>
                </tr>
              </thead>
              <tbody *ngFor="let label of Netfor5YearValuelabel;let i=index">
                <tr>
                  <td>{{label}}</td>
                  <td>{{Netfor5YearValuedata[i] | number:'1.0-0'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- /Inflation-->
    </div>
  </mat-sidenav-content>
  <!--Edit data-->
  <mat-sidenav id="editThueid" #sidenav position="end" mode="over" autoFocus="false">
    <form #thueForm="ngForm">
      <div class="container editThue px-4 py-4">
        <div>
          <h5>{{ 'Salary.Insurance-r' | translate }}</h5>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.SocialInsurance' | translate }}</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="thueBHXH" name="thueBHXH" type="number" inputmode="numeric"
              class="text-right " />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.HealthInsurance' | translate }}</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="thueBHYT" name="thueBHYT" type="number" inputmode="numeric"
              class="text-right " />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.UnemploymentInsurance' | translate }}</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="thueBHTN" name="thueBHTN" type="number" inputmode="numeric"
              class="text-right" />
          </mat-form-field>
        </div>
        <div>
          <h5>{{ 'Salary.Deductible' | translate }}</h5>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.personalDeductible' | translate }}</mat-label>
            <span matSuffix>&nbsp;đ</span>
            <input matInput [(ngModel)]="giamTruBanThan" name="giamTruBanThan" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.dependentDeductible' | translate }}</mat-label>
            <span matSuffix>&nbsp;đ</span>
            <input matInput [(ngModel)]="giamTruNguoiPhuThuoc" name="giamTruNguoiPhuThuoc" type="text"
              inputmode="numeric" class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.OtherDeductible' | translate }}</mat-label>
            <span matSuffix>&nbsp;đ</span>
            <input matInput [(ngModel)]="giamTruKhac" name="giamTruKhac" type="text"
              inputmode="numeric" class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
        </div>
        <div>
          <h5>{{ 'Salary.GeneralMiniumWage' | translate }}</h5>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.GeneralMiniumWage' | translate }}</mat-label>
            <span matSuffix>&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongCoSo" name="InputLuongCoSo" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <h5>{{ 'Salary.RegionalMinimumWage' | translate }}</h5>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.Region' | translate }} 1</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung1" name="InputLuongVung1" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.Region' | translate }} 2</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung2" name="InputLuongVung2" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.Region' | translate }} 3</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung3" name="InputLuongVung3" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Salary.Region' | translate }} 4</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung4" name="InputLuongVung4" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-sidenav>
</mat-sidenav-container>