#download-div{
  display:none;
}

.fixed-container{
  max-width:1000px;
  margin:0 auto;
  padding: 0 0 50px 0;
  border-radius: 4px;
  text-align: center;
  background: linear-gradient(to bottom right, #6EDAFF 0%, #6A9CFD 100%);
  box-shadow: rgba(0,0,0,.2) 0 3px 13px 3px;
  h2{
    font-weight: bold;
    font-size:4rem;
    color:#fff;
    width:86%;
    max-width: 850px;
    text-align: left;
    padding: 60px 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-shadow: 0px 0px 13px rgba(0,0,0,0.2);
    .result-input{
      background: inherit;
      border: none;
      color: inherit;
      font-weight: bold;
      text-shadow: inherit;
      outline: #fff;
      width:100%;
    }
  }
  .result-h3{
    font-weight: bold;
    font-size:3.6rem;
    color:#42a5f5;
    text-align: center;
  }
  .result-p{
    color:#B7B7B7;
    font-size:1.2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .divChart{
    text-align: center;
    width:86%;
    max-width:850px;
    margin:0 auto;
    border-radius:10px;
    background:#fff;
    padding: 10px 0 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 13px 3px;
    .label{
      font-size: 1rem;
      color:#B7B7B7;
      text-align: left;
      padding: 0 0 0 15px;
    }
    .amount{
      font-size: 2.4rem;
      font-weight: bold;
      margin: 10px 0;
    }
  }
  .assetsChart{
    .amount{
      color:#5D99E3;
    }
  }
  .liabilitiesChart{
    margin:50px auto;
    .amount{
      color:#FF5478;
    }
  }
  .resultDiv{
    margin:50px auto 0;
    padding:40px 0;
    background:#fff;
  }
}
.share-container{
  max-width: 1000px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}