* {
  box-sizing: border-box;
}
.breakLineTd {
  white-space: pre-line;
  > td {
    width: 96%;
  }
}
.lastTd {
  font-size: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 0.54);
  br {
    display: none;
    @media (max-width: 500px) {
      display: block;
    }
  }
  div {
    display: inline-block;
  }
  .mat-form-field {
    width: 40px;
    display: inline-block;
    vertical-align: baseline;
    margin: 0 0 0 8px;
  }
  .padding-x {
    padding: 0 15px;
  }
  i {
    font-size: 32px;
    vertical-align: middle;
  }
}

.area-click {
  min-width: 65px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border-right: 0;
  button {
    min-width: 40px;
    padding: 0;
    font-family: 'Times New Roman' !important;
  }
}
