
.logo{
    width: 300px;
    margin: 0 auto;
}
.top-content{
    text-align: center;
    color:#52575D;
    margin: 120px 0 40px;
    h1{
      font-size:4.5rem;
      font-weight: bold;
      outline: none;
      @media (max-width:425px) {
        font-size:4rem;
      }
    }
    p{
        padding: 20px 0;
      font-weight: normal;
      font-size: 2rem;
    }
    img{
        width: 100%;
    }
  }

.btn{
    width: 200px;
}