<div class="trans-layout">
  <mat-form-field>
    <mat-select
      class="trans-component text-center"
      [(value)]="selected"
      (selectionChange)="changeLang($event.value)"
    >
      <mat-select-trigger>
        <i class="material-icons">language</i>&nbsp;{{ selectedText }}
      </mat-select-trigger>
      <mat-option
        class="text-center"
        *ngFor="let language of languages"
        [value]="language.id"
      >
        {{ language.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
